#hero {
    margin: 10% 0;
}

.lable {
    font-size: 425%;
    font-weight: 600;
}

#hero img {
    margin-top: 13%;
    width: 17%;
    height: 10%;
    position: relative;
    left: 40%;
    /* animation-name: lableImgAnime; */
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hero {
    margin-top: 5%;
}

#lable1 {
    width: 39%;
    position: absolute;
    animation-name: lable1Anime;
    animation-duration: 1.5s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
    margin-bottom: 6%;
}

@keyframes lable1Anime {
    from {
        left: 0;
    }
    to {
        left: 30%;
    }
}

#lable2 {
    /* width: 37%; */
    position: absolute;
    animation-name: lable2Anime;
    animation-duration: 1.5s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
}

#lable2 span {
    color: rgb(243, 243, 83)
}

@keyframes lable2Anime {
    from {
        top: 90%;
        left: 30%;
    }
    to {
        top: 55%;
        left: 30%;
    }
}


/* @keyframes lableImgAnime {
    from {
        top: 90%;
        left: 40%;
    }
    to {
        top: 60%;
        left: 40%;
    }
} */

#bottom-div {
    width: 50%;
    margin-top: 8%;
    margin-left: 26%;
}

#bottom-div p {
    font-size: large;
    text-align: center;
}

#bottom-div button {
    display: flex;
    margin-left: 38%;
    margin-top: 4%;
    width: 20%;
    padding: 10px;
    padding-left: 20px;
    background: linear-gradient(94.62deg, #FECC00 -2.53%, #FEA800 102.53%);
    color: black;
    border-radius: 20px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    #hero {
        margin-top: 18rem;
        width: 90%;
    }
    #hero img {
        visibility: hidden;
    }
    #bottom-div {
        margin-top: 55%;
    }
    #bottom-div button {
        width: 70%;
        margin-left: 15%;
    }
    .lable {
        font-size: 4rem;
        font-weight: 500;
    }
    #lable2 {
        margin-top: 21%;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    #hero {
        margin-top: 18rem;
        width: 90%;
    }
    #hero img {
        visibility: hidden;
    }
    #bottom-div {
        margin-top: 75%;
    }
    #bottom-div button {
        width: 70%;
        margin-left: 15%;
    }
    .lable {
        font-size: 3rem;
        font-weight: 500;
    }
    #lable2 {
        margin-top: 28%;
    }
}