.token-section {
    margin: 30px 0;
    padding: 60px 0;
    font-size: large;
    text-align: center;
}

.token-section h1 {
    margin: 20px 0;
    font-size: 250%;
    font-weight: 600;
}

#token-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin: 0 19%;
    padding: 20px;
    width: 65%;
}

#token {
    padding: 5% 15%;
    padding-bottom: 25%;
    border: 1.5px solid rgb(226, 226, 107);
    border-radius: 10px;
    background-color: #141411;
    /* text-align: center; */
}

#token-icon {
    margin: 15px 0;
    width: 40%;
    height: 30%;
    margin-left: 17%;
}

#token-title {
    font-size: x-large;
    font-weight: 700;
}

.token-details {
    display: flex;
    justify-content: space-between;
}

#token button {
    display: flex;
    background: linear-gradient(94.62deg, #FECC00 -2.53%, #FEA800 102.53%);
    padding: 7px 15px;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

.pagination-container {
    display: flex;
    gap: 25px;
    margin: 10%;
    margin-left: 45%;
}

.pagination-container>button {
    background-color: yellow;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .token-section {
        margin-left: 8%;
        width: 80%;
    }
    #token-div {
        display: block;
    }
    #token {
        margin-bottom: 2rem;
    }
    .pagination-container {
        margin-left: 20%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .our-token {
        margin: 20% 5%;
    }
    #token-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}