body {
    background-color: black;
    color: white;
}


/* .app {
    position: relative;
    background-image: url("../src/images/background.jpeg");
    height: auto;
} */

#navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    /* width: 100%;  */
    width: 94%;
    height: 10%;
    margin-top: 40px;
    margin-left: 40px;
    border: 1px solid black;
    background: #5C4F0570;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px 16px 32px;
    border-radius: 16px;
}

.frame1 {
    display: flex;
    gap: 10px;
}

.frame1 div {
    display: block;
}

.frame2 {
    display: flex;
    list-style: none;
    gap: 35px;
    margin-right: 5%;
    margin-top: 1%;
}

#footer {
    background-color: #141411;
    width: 85%;
    height: 20%;
    margin-bottom: 10%;
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    padding-right: 9%;
    border-radius: 20px;
    border: 2px solid rgb(248, 248, 111);
}

#social {
    display: flex;
    gap: 15px;
    width: 4%;
    height: 4%;
}

#footer-text h1 {
    font-size: xx-large;
    font-weight: 700;
}


/* meidum screens */

@media all and (min-width: 768px) and (max-width: 1024px) {}


/* small screens */

@media all and (min-width: 320px) and (max-width: 767px) {
    #navbar {
        height: 18%;
        width: 80%;
        /* padding: 10%; */
    }
    .frame1 img {
        height: 50%;
    }
    .frame2 {
        float: none;
        display: block;
    }
    #footer {
        display: block;
    }
    #footer-text h1 {
        font-size: x-large;
        font-weight: 500;
    }
    #social {
        width: 15%;
        margin-top: 2%;
    }
}