body {
    background-color: black;
    color: white;
}

#navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    /* width: 100%;  */
    width: 94%;
    height: 88px;
    margin-top: 40px;
    margin-left: 40px;
    border: 1px solid black;
    background: #5C4F0570;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px 16px 32px;
    border-radius: 16px;
}

.frame1 {
    display: flex;
    gap: 10px;
}

.frame1 div {
    display: block;
}

.frame2 {
    display: flex;
    list-style: none;
    gap: 35px;
    margin-right: 5%;
    margin-top: 1%;
}

#footer {
    background-color: #141411;
    width: 85%;
    height: 20%;
    margin-bottom: 10%;
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    padding-right: 9%;
    border-radius: 20px;
    border: 2px solid rgb(248, 248, 111);
}

#social {
    display: flex;
    gap: 15px;
    width: 4%;
    height: 4%;
}

#footer-text h1 {
    font-size: xx-large;
    font-weight: 700;
}